/*mobile (320px), tablet (768px) and desktop (1024px)*/

header {
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    max-width: auto;
    background-color:blueviolet;
    grid-area: header;
}

nav {
    grid-area: navigation;
}

main {
    display: grid;
    grid-area: main;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header"
      "navigation"
      "main";
}

.webhead {
    font-size: 180%;
    margin-left: 10px;
    color: whitesmoke;
    font-family: 'Mukta', sans-serif;
}

#timezone {
    width: 295px;
}

.bell {
    margin-left: 15px;
    margin-top: 21px;
    width: 35px;
    height: 45px;
    fill: whitesmoke;
}

.fence {
    display: flex;
    flex-direction: row;
}

.user {
    margin-left: 25px;
    margin-top: 18px;
    border-radius: 50%;
    height: 50px;
    width: 55px;
}

.username {
    font-size: 100%;
    color: whitesmoke;
    font-family: 'Mukta', sans-serif;
    margin-left: 12px;
    margin-top: 29px;
}

/*NAVIGATION BAR*/

.navbar {
    background-color: #7575a3;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 20px;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 7px;
    max-width: auto;

}



.home {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.graph {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.people {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.cog {
    margin-left: 5px;
    width: 40px;
    height: 40px;
}

.widgetwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.alert-banner p {
    text-align: center;
    display: inline-block;
}

.alert-banner {
    background-color: hotpink;
    border-radius: 15%;
    margin-left: 0px;
    margin-right: 0px;
}

#pone {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 95%;
}

#ptwo {
    font-size: 17px;
}

.dalist {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

#selected {
    border: solid 1px;
    border-radius: 40%;
    border-color: #33FF93;
    background-color: #33FF93;
}

.headline {
    font-family: 'Mukta', sans-serif;
}

h2 {
    font-family: 'Mukta', sans-serif;
}

h3 {
    font-family: 'Mukta', sans-serif;
}

p {
    font-family: 'Mukta', sans-serif;
}

li {
    font-family: 'Mukta', sans-serif;
}

label {
    width: 30%;
    margin-top: -10px;
    margin-bottom: 25px;
}

#save {
    background-color: hotpink;
    color: #FFF;
    font-size: 20px;
    width: 145px;
    border-radius: 5%;
    text-align: center;
    padding: 15px 30px 15px 30px;
    height: 70px;
    margin-bottom: 8px;
}

#cancel {
    background-color: hotpink;
    color: #FFF;
    font-size: 20px;
    width: 145px;
    border-radius: 5%;
    text-align: center;
    padding: 15px 30px 15px 30px;
    height: 70px;
    margin-bottom: 8px;
}


.widget-container-full, .widget-container-half {
    width: 95vw;
}

.facebook {
    display: flex;
    background-color: lightgrey;
    border-color: darkgray;
    border-radius: 5%;
    margin-bottom: 8px;
}

.instagram {
    display: flex;
    background-color: lightgrey;
    border-color: darkgray;
    border-radius: 5%;
    margin-bottom: 8px;
}

.twitter {
    display: flex;
    background-color: lightgrey;
    border-color: darkgray;
    border-radius: 5%;
    margin-bottom: 18px;
}

.social-imagef {
    margin-left: 20px;
    margin-top: 20px;
    width: 75px;
    height: 85px;
    fill: #9566FF;
}

.social-imagei {
    margin-left: 20px;
    margin-top: 20px;
    width: 75px;
    height: 85px;
    fill: #9566FF;
}

.social-imaget {
    margin-left: 20px;
    margin-top: 20px;
    width: 75px;
    height: 85px;
    fill: #9566FF;
}

.smname {
    margin-left: 12px;
    color: #9566FF;
    font-size: 20px;
}

.snumber {
    margin-left: 12px;
    color: gray;
    font-size: 300%;
    margin-top: -40px;
    margin-bottom: 0px;
}

.vic {
    border-radius: 50%;
    height: 90px;
    width: 95px;

}

.members-container {
    text-align: center;
}

.form-field {
    font-size: 12px;
    width: 90%;
    background-color: #dde0e0;
    color: #000000;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5%;
    border-color: gray;
}

.form-area {
    font-size: 12px;
    width: 90%;
    background-color: #dde0e0;
    color: #000000;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 15px;
    padding-bottom: 80px;
    border-radius: 5%;
    border-color: gray;
}

#send {
    background-color: hotpink;
    color: #FFF;
    font-size: 24px;
    width: 100%;
    border-radius: 5%;
    text-align: center;
    padding: 15px 40px 15px 40px;
    height: 70px;
    margin-top: 35px;
}

button {
    display: inline-block;
}

hr {
    color: darkgray;
    /*height: 1px;*/
    width: 100%;
    margin-top: 10px;
}


@media (min-width: 768px) {
    body {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
          "header header"
          "navigation main";
    }
  
    main {
          display: grid;
          grid-template-columns: 50%;
    }

    .traffic, .networking, .alert, .hr {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message, .activity, .settings {
        grid-column: 1 / span 1;
    }

    .mobile {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }


    .bell {
        float: right;
        margin: auto;
        margin-left: 425px;
        width: 35px;
        height: 45px;
        fill: whitesmoke;
    }

    .fence {
        display:inline-flex;
    }

    .user {
        /*float: right;
        margin: auto;*/
        margin-right: 10px;
    }

    .username {
        margin: auto;
    }

    .widgetwrap {
        display: flex;
        flex-direction: column;
        /*justify-content: space-between;*/
    }

    .home {
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: -1px;
    }
    
    .graph {
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: -1px;
    }
    
    .people {
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: -1px;
    }
    
    .cog {
        margin-top: 20px;
        margin-left: -1px;
        width: 40px;
        height: 40px;
    }

    .headline {
        margin-left: 25px;
    }

    .alert-banner {
        margin-left: 25px;
        width: 45%;
    }

    #ptwo {
        float: right;
        margin-right: 25px;
    }

    .traffic {
        margin-left: 15px;
    }

    .hr {
        margin-left: 20px;
    }

    .daily {
        margin-left: 20px;
        size: auto;
    }

    .mobile {
        margin-left: 20px;
        border-left: solid 2px lightgrey;
    }

    .mobilehead {
        margin-left: 8px;
    }

    .networking {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
    }

    /*.scell {
        display: inline-block
    }*/

    .members {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    .members-container {
        display: flex;
        margin-bottom: 10px;
        text-align: left;
    }

    .memhr {
        width: 130%;
    }

    .vic {
        border-radius: 50%;
        height: 80px;
        width: 85px;
    }

    .members-text {
        margin-left: 45px;
    }

    .joined {
        margin-left: 260px;
    }

    #dalej {
        margin-left: 312px;
    }

    #dawnj {
        margin-left: 302px;
    }

    #danj {
        margin-left: 312px;
    }

    .activity {
        margin-left: 20px;
    }

    .dans {
        display: none;
    }

    .message {
        margin-left: 20px;
        border-top: solid 2px lightgrey;
    }

    #userField {
        width: 120%;
    }

    #messageField {
        width: 120%;
    }

    #send {
        width: 125%;
        margin-bottom: 20px;
    }

    .settings {
        margin-left: 20px;
        border-top: solid 2px lightgrey;
    }

    #timezone {
        width: 120%;
    }

    #save {
        background-color: hotpink;
        color: #FFF;
        font-size: 20px;
        width: 45%;
        border-radius: 5%;
        text-align: center;
        padding: 15px 30px 15px 30px;
        height: 70px;
        margin-bottom: 8px;
    }
    
    #cancel {
        background-color: hotpink;
        color: #FFF;
        font-size: 20px;
        width: 45%;
        border-radius: 5%;
        text-align: center;
        padding: 15px 30px 15px 30px;
        height: 70px;
        margin-bottom: 8px;
    }    

}






@media (min-width: 1024px) {
    body {
      grid-template-columns: 55px 1fr;
      grid-template-areas: 
        "header header"
        "navigation main";
    }

    main {
        display: grid;
        grid-template-columns: 50%;
    }

    .traffic, .networking, .alert, .hr {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

    .bell {
        float: right;
        margin: auto;
        margin-left: 765px;
        width: 35px;
        height: 45px;
        fill: whitesmoke;
    }

    .user {
        float: right;
        margin: auto;
        margin-right: -3px;
    }

    .username {
        float: right;
        margin-right: 15px;
    }

    .widgetwrap {
        display: flex;
        flex-direction: column;
        /*justify-content: space-between;*/
    }

    .home {
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: -1px;
    }
    
    .graph {
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: -1px;
    }
    
    .people {
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: -1px;
    }
    
    .cog {
        margin-top: 20px;
        margin-left: -1px;
        width: 40px;
        height: 40px;
    }

    .headline {
        margin-left: 25px;
    }

    .alert-banner {
        margin-left: 35px;
    }

    #ptwo {
        float: right;
        margin-right: 25px;
    }

    .traffic {
        margin-left: 20px;
    }

    .memhr {
        display: none;
    }

    .hr {
        margin-left: 20px;
    }

    .daily {
        margin-left: 20px;
    }

    .mobile {
        margin-left: 20px;
        border-left: solid 2px lightgrey;
    }

    .mobilehead {
        margin-left: 8px;
    }

    .networking {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
    }

    /*.scell {
        display: inline-block
    }*/

    .members {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    .members-container {
        display: flex;
        margin-bottom: 10px;
    }

    .vic {
        border-radius: 50%;
        height: 80px;
        width: 85px;
    }

    .message {
        margin-left: 20px;
        border-top: solid 2px lightgrey;
    }

    .settings {
        margin-left: 20px;
        border-top: solid 2px lightgrey;
    }

    #save {
        background-color: hotpink;
        color: #FFF;
        font-size: 20px;
        width: 45%;
        border-radius: 5%;
        text-align: center;
        padding: 15px 30px 15px 30px;
        height: 70px;
        margin-bottom: 8px;
    }
    
    #cancel {
        background-color: hotpink;
        color: #FFF;
        font-size: 20px;
        width: 45%;
        border-radius: 5%;
        text-align: center;
        padding: 15px 30px 15px 30px;
        height: 70px;
        margin-bottom: 8px;
    }
} 